@import 'mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

$content_width: 720px;

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-border: #d9d9d9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    @media all and (min-width: 1024px) {
        overflow: hidden;
    }
}

.main {
    margin: 30px 0;
    background: #F2F2F5;
    border-radius: 24px;
    padding: 60px 40px;
    opacity: 1;
    transition: .275ms ease-in-out;

    &_no-load {
        opacity: 0;
    }

    @media all and (max-width: $content_width) {
        margin: 20px 10px;
        padding: 40px 0;
    }
}

.main, .container {
    max-width: $content_width;
    width: 100%;

    @media all and (max-width: $content_width) {
        max-width: 100%;
    }
}

.container {
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;

    .col {
        display: inline-flex;
        flex-direction: column;
        max-width: 100%;
        width: auto;

        &-6 {width: 50%;}
    }

    @media all and (max-width: $content_width) {
        flex-direction: column;
        padding: 0 20px;
        gap: 20px;

        .col {
            width: 100%;
        }
    }
}

.circle {
    width: 48px;
    height: 48px;
    border: 6px solid var(--color-white);
    border-radius: 100%;
    outline: solid 0px rgba(255,255,255,.4);
    transition: background-color 0.125s linear, outline 0.2s linear 0.125s;

    &:active, &.active {
        background-color: rgba(255,255,255,.4);
        outline-width: 4px;
    }
}

.content {

    &__block {
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        position: relative;
        overflow: hidden;
        box-shadow: 0 14px 34px rgb(0 0 0 / 15%);
        border-radius: 24px;
    }
    &__image {
        z-index: 1;
        border: 1px solid transparent;
        border-left: none;
        padding-right: 1px;
    }
    &__circle {
        z-index: 2;
        position: absolute;
        cursor: pointer;

        /*&::after, &::before {
            content: '';
            height: 1px;
            width: 100vh;
            position: absolute;
            border-bottom: 2px dashed #FFFFFF;
        }
        &::after {

        }
        &::before {

        }*/
    }
}
.image-block {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 480px;

    * {border-radius: 24px;}
    &__img {
        max-width: 100%;
        width: 100%;
        height: inherit;
        object-fit: cover;
        pointer-events: none;
        z-index: 1;
    }
    &__overlay {
        position: absolute;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        max-width: 100%;
        width: 100%;
        height: inherit;
        z-index: 2;
    }

    @media all and (max-width: $content_width) {
        height: 42.5vh;
    }
}

.position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &__input {
        max-width: 140px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 12px;
        padding: 17px 20px;
        font-family: 'Inter', sans-serif;
        @include setFont(20px, 500, 1.2em);
        color: var(--color-black);
        transition: .275s;

        &::placeholder {color: #A1A1AA}
        &:hover, &:focus {
            outline: none;
            border-color: var(--color-border);
        }
    }

    @media all and (max-width: $content_width) {
        gap: 0;

        &__input {
            max-width: 100%;
            width: 45%;
        }
    }
}

.customization {
    margin: 60px 0 0;

    &__title {
        font-family: 'Inter', sans-serif;
        @include setFont(20px, 700, 1.2em);
        color: #4C4C4C;
        margin: 0 0 18px 10px;
    }

    .select2-container {
        max-width: 250px;
        width: 250px!important;

        &--open .select2-selection__arrow {
            transform: translateY(-50%) rotate(180deg)!important;
        }
    }

    @media all and (max-width: $content_width) {
        margin: 40px 0 0;

        &__material-select, &__position {width: 100%;}

        .select2-container {
            max-width: 100%;
            width: 100%!important;
        }
    }
}

// Img Thumb
.img-thumb {
    $size: 32px;
    width: $size;
    height: $size;
    margin-right: 8px;
    border-radius: 6px;
}

// Select Element styles
.select2-menu.select2-selection {
    background-color: var(--color-white);
    border: 1px solid transparent;
    width: 100%;
    border-radius: 12px!important;
    padding: 13px 16px;
    transition: .275s;
    height: auto;

    &:hover, &:focus {
        outline: none;
        background: var(--color-white);
        border-color: var(--color-border);
    }

    .select2-selection {
        transition: .275s ease-in-out;
        
        &__arrow {
            background: url(../images/selectmenu-icon.svg) no-repeat center center;
            background-size: cover;
            position: absolute;
            right: 22px;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
            width: 12px;
            height: 6px;
            transition: .275s;

            b {display: none;}
        }
        /*&-button:focus &-icon, &-button:hover &-icon {
            background-image: url(../images/selectmenu-icon.svg);
        }*/
        &__rendered {
            font-family: 'Inter', sans-serif;
            @include setFont(20px, 500, 1.2em);
            color: var(--color-black);
            display: flex;
            align-items: center;
            padding: 0;
            
            .img-thumb {
                margin-right: 8px;
            }
        }
    }
}

// Select menu element styles
.select2-menu-dropdown {
    border: none!important;
    background: transparent;
    opacity: 0;

    .select2-results {

        &__options {
            border-radius: 12px;
            padding: 13px 16px;
            background: var(--color-white);
            border: 1px solid var(--color-border);
        }

        &__option {
            font-family: 'Inter', sans-serif;
            @include setFont(20px, 500, 1.2em);
            background: transparent;
            width: auto;
            color: var(--color-black);
            border: none;
            transition: .275s;
            padding: 0;
            margin: 8px 0;
            display: flex;
            align-items: center;

            .img-thumb {
                margin-right: 8px;
            }

            &:first-child {margin-top: 0;}
            &:nth-last-child(1) {margin-bottom: 0;}

            &--selected {display: none;}
            &--highlighted {
                background-color: #efefef!important;
                color: var(--color-black)!important;
                border-radius: 6px;
            }
        }
    }
}